<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel = "stylesheet" href="/styles.css">
</head>
<body>
    <header class="header">
        
        <img src="/images/kpi-big-logo.png" class = "kpi_logo header_part" alt="kpi-logo">
        
        <div class="header_part">
            <ul class="menu_header_list">
                <li><a href="/" class="menu_li">Головна сторінка</a></li>
                <li><a href="/prodaction_plan_page" class="menu_li">План виробництва</a></li>
                <li><a href="/products_page" class="menu_li">Про продукцію</a></li>
                <li><a href="/orders_page" class="menu_li">Замовлення</a></li>
                <li><a href="/customers_page" class="menu_li">Замовники</a></li>
                <li><a href="/about_page" class="menu_li active_menu_li">Інформація</a></li>
            </ul>
        </div>
        
    </header>

    <section class = "introduction">
        <div class="background">
            <h2 class="title ">Курсова робота студентки групи ІС-22 Ларіної Марії Михайлівни</h2>
            <p class="no_main_text">Основною метою курсової роботи є створення бази даних до заданої галузі, а саме «Розробка Головного календарного плану виробництва». Ця тема є важливою для багатьох підприємств, оскільки така документація допомагає ефективно відстежувати та контролювати виробництво продукції та замовлення від клієнтів.</p><br>
 
                <p class="no_main_text">Для реалізації цієї бази даних використовується вільна реляційна система управління базами даних MySQL разом з платформою Node.js і фреймворком Express.js. Додаток та саму базу даних створено у відповідних програмних середовищах Visual Studio Code та Microsoft SQL Server Management Studio. Використання таких інструментів дозволяє ефективно керувати базою даних та швидко отримувати необхідну інформацію про виробництво, замовлення та клієнтів.</p><br>
                 
                <p class="no_main_text last_paragraph">Написання даної програми проводиться з метою закріпити та продемонструвати свої власні навички у проектування баз даних і розробки застосувань під них.</p>
        </div>
    </section>

    <footer>
        <div class="last_text_midle">
            © 2024 Maria Larina's Course Work
        </div>
    </footer>

</body>
</html>