<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel = "stylesheet" href="/styles.css">
</head>
<body>
    <header class="header">
        
        <img src="/images/kpi-big-logo.png" class = "kpi_logo header_part" alt="kpi-logo">
        
        <div class="header_part">
            <ul class="menu_header_list">
                <li><a href="/" class="menu_li active_menu_li">Головна сторінка</a></li>
                <li><a href="/prodaction_plan_page" class="menu_li">План виробництва</a></li>
                <li><a href="/products_page" class="menu_li">Про продукцію</a></li>
                <li><a href="/orders_page" class="menu_li">Замовлення</a></li>
                <li><a href="/customers_page" class="menu_li">Замовники</a></li>
                <li><a href="/about_page" class="menu_li">Інформація</a></li>
            </ul>
        </div>
    </header>

    <section class = "introduction">
        <div class="background">
            <h2 class="title">Основна інформація</h2>
            <p class="no_main_text"> <b>Головний календарний план виробництва (MPS)</b> містить відомості про те, що і коли компанія планує виробляти в термінах конкретних конфігурацій, кількостей і дат.</p>

            <h5 class="subtitle">Опис теми</h5>   
            <p class="no_main_text">Головний календарний план виробництва (MPS) є ключовим інструментом планування для компанії. Ця система дозволяє ефективно відстежувати та контролювати виробництво продукції та замовлення від клієнтів.</p>

            <h5 class="subtitle">Учасники</h5>   
            <p class="no_main_text">MPS складається людиною – Головним планувальником, особою, відповідальною за розробку, перегляд та ведення MPS. Вхідною інформацією є замовлення покупців.</p>

            <h5 class="subtitle">Вміст MPS</h5>   
            <p class="no_main_text">Детально в MPS відображається інформація про зарезервоване для відвантаження покупцям, відвантаження по замовленнях покупців, внутрішній попит, виробництво, прогнозований складський залишок та доступність для обіцянки (ATP).</p>

            <h5 class="subtitle">Важливість для компанії</h5>   
            <p class="no_main_text last_paragraph">MPS допомагає компанії ефективно планувати виробництво, управляти запасами, відповідати замовленням покупців і забезпечувати якісний обслуговування клієнтів.</p>
        </div>
    </section>
    
    <footer>
        <div class="last_text_midle">
            © 2024 Maria Larina's Course Work
        </div>
    </footer>

</body>
</html>